name: CI

on:
  push: 
    branches:
      - dev
  
jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: install Yarn
        run: npm install -g yarn

      - name: install dependencies
        run: yarn

      - name: build project
        run: yarn build